<nav id="navbar"
class="navbar sticky-top navbar-expand-sm bg-light"
>

   <a class="navbar-brand nav-link" 
      href="/entries"
      title="Home">
    <img src="/static/icons/icons8-search-100.png" class="mainbutton-icon" />
   </a>

   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse ms-3" id="mainNavBar">
       <ul class="nav navbar-nav mr-auto">

           <li class="nav-item dropdown" id="MenuSearchContainer">
           </li>

           <li class="nav-item dropdown" id="MenuGlobalContainer">
           </li>

           <li class="nav-item dropdown" id="MenuPersonalContainer">
           </li>

           <li class="nav-item dropdown" id="MenuToolsContainer">
           </li>

           <li class="nav-item dropdown" id="MenuUsersContainer">
           </li>
       </ul>
    </div>
</nav>
